.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 125%;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.uk-button.uk-button-primary {
    background: var(--primary-background-color);
    border: 1px solid var(--primary-button-text);
    color: var(--primary-button-text);
}

@media (min-width: 960px) {
    .uk-container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.accent {
    color: #111820;
}

.dark-background {
    background: #111820;
}

.uk-text-large {
    font-size: 1.2rem;
    line-height: 1.5;
}

.image-wrapper {
    transition: transform ease .5s;

}

.image-wrapper:after {
    box-shadow: inset 0px 0px 0px 0px #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    transition: ease .5s;
    width: 100%;
}

.image-wrapper:hover:after {
    box-shadow: inset 0px 0px 0px 11px #fff;
    content: '';
    transition: ease .5s;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.uk-transition-scale-up:hover {
    transition: transform ease .5s;
    transform: scale(1.2);
}