.main-nav {
    z-index: 10;
}

.navbar-links>li>a {
    font-family: 'Montserrat', sans-serif;
    color: #fff!important;
}

.cta-button {
    border: 1px solid #ffffff;
    margin: 0;
    overflow: visible;
    color: #fff;
    font: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    transition-property: color,background-color,border-color;
}

.cta-button:hover {
    text-decoration: none;
    background: #ffffff;
    color: #000;
    transition: .3s;
}